@using FindMyChair.Web.Utilities;
@using System.Globalization;
@{
	var currentUrl = (null != HttpContext.Current) ? HttpContext.Current.Request.Url.AbsoluteUri : string.Empty; ;
	var cultureHelper = new CultureHelper();
	var cultureInfo = new CultureInfo(cultureHelper.GetCultureInfo(currentUrl));
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href="/Content/customizing.css" rel="stylesheet">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://npmcdn.com/leaflet@1.3.4/dist/leaflet.js​"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">@Utilities.GetStringByResourceName("TextHome", cultureInfo)</a></li>
					<li><a href="/Home/About">@Utilities.GetStringByResourceName("TextAbout", cultureInfo)</a></li>
					<li><a href="/Home/Contact">@Utilities.GetStringByResourceName("TextContact", cultureInfo)</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<script src="~/Scripts/customize.js"></script>
</body>
</html>
